@page
@model SmartWaterApp.Pages.DeleteModel
@{
}

<head>
    <title>Delete Water Usage</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css">

</head>
<body>
    <h2>Delete Water Usage</h2>
    <form method="POST">
        <label for="activity">Activity</label>
        <select id="activity" name="activity">
            <option value="showering">Showering</option>
            <option value="washing_dishes">Washing Dishes</option>
            <option value="laundry">Laundry</option>
            <option value="cooking">Cooking</option>
            <option value="gardening">Outdoor Watering</option>
        </select>
        <label for="water_consumed">Water Consumed (liters)</label>
        <input type="number" id="water_consumed" name="water_consumed" required>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</body>
